footer {
    background-color: $color-principal;
    width: 100%;
    margin: 0;
    padding: 0;

    img {
        overflow: hidden;
        background-color: $color-principal;
        height: 90px;
        width: 90px;
        display: inline-flex;

    }

    div {
        a {
            background-color: transparent;
            border: 0px;

            img {
                overflow: hidden;
                width: 80px;
                height: 80px;
            }
        }
    }
}

.datos {
    text-align: center;
    width: 100%;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;    
}

.renglon {
    width: 225px;
}

.suscripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        border: 1.5px solid #4942E4;
        border-radius: 10px;
        background-color: #4942E4;
        color: white;
        padding: 10px;
        margin: 10px;
    }

    .btn{
        border: 1.5px solid #4942E4;
        border-radius: 10px;
        background-color: #4942E4;
        color: white;
        padding: 10px;
        margin: 10px;
    }
    .btn:hover{
        transform: scale(1.2);
        transition: scale 1.8s;
        background-color: $color-principal;
    }

    label {
        color: white;
        font-size: nth($font-zize, 4);
        font-family: "Cinzel", serif;
        font-weight: 350;
        font-style: normal;
    }
    input{
        font-size: 15px;
        font-family: "Cinzel", serif;
        font-weight: 350;
        font-style: normal;
    }
}
.suscripcion button:hover{
    transform: scale(1.1);
    transition: scale 0.8s;
    background-color: $color-principal;
}

.btn-color {
    background-color: #4942E4;
}
.btn-color:hover{
    background-color: $color-principal;
}