header{
        h1{
            font-family: "Dancing Script", cursive;
            font-optical-sizing: auto;
            font-weight: 400px;
            font-style: normal;
            font-size: nth($font-zize,9 );
            color: whitesmoke;
        }
}
.bg-menu{
    background-color: $color-principal;
}
.container-fluid{
    img{
        width: 100px;
        height: 100px;
    }
}
.barrita{
        a{
            color: white;
            font-family: "Cinzel", serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 14px;
        }
}
