/*************************************************************************** PAGINA INDEX******************************************************************/
.hero {
    text-align: center;
    height: 90vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.411)), url("../img/hero-nuevo-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {

        color: rgb(6, 143, 153);
        display: flex;
        align-items: center;
        font-family: "Architects Daughter", cursive;
        font-weight: 900;
        font-style: normal;
        font-size: nth($font-zize, 8);
    }

    p {
        margin-bottom: 30px;
        color: floralwhite;
        font-family: "Bad Script", cursive;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
        width: 60%;
    }

    a {
        border: 1.5px solid #4942E4;
        background-color: #4942E4;
        color: white;
        padding: 14px;
        margin: 12px;
        font-size: nth($font-zize, 5);
        border-radius: 10px;
        font-family: "Cinzel", serif;
        font-weight: 400;
        font-style: normal;
    }
}

a:hover {
    background-color: $color-principal;
    border: $color-principal;
    transform: scale(1.2);
    transition: background-color 1s ease-in-out;
    transition: 0.9s;
}

/**********************************************************OPINIONES NUEVO****************************************************************/
.opiniones {
    background-color: #C0D6E8;
    background: rgb(161, 211, 242);
    background: linear-gradient(rgb(129, 169, 194) 25%, rgb(152, 172, 185) 70%, rgb(150, 179, 185) 100%);
    transition: 1s;

    h2 {
        background-color: $color-principal;
        text-align: center;
        font-family: "Cinzel", serif;
        font-weight: 350;
        font-style: normal;
        font-size: 40px;
        color: white;
        padding: 15px;
    }

}

.global {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 20px;

    p {
        font-size: 17px;
        font-weight: 100;
        font-style: oblique;

    }
}

.text-body-secondary {
    font-weight: 700;
}

.nombre {
    font-size: 25px;
    font-style: oblique;
}

.col-md-4 {
    padding: 20px;
}

/******************************************************SECCION NUESTRAS TERAPIAS INDEX******************************************************************************/

.tienda {
    background-color: whitesmoke;
    width: 100%;

    h2 {
        width: 100%;
        font-size: 65px;
        background-color: $color-principal;
        color: white;
        text-align: center;
        margin-left: 0;
        font-family: "Cinzel", serif;
        font-weight: 350;
        font-style: normal;
        font-size: 40px;
        padding: 15px;
    }

    div {
        text-align: center;

        img {
            width: 150px;
            height: 150px;
        }

        p {
            font-size: nth($font-zize, 4);
            margin-bottom: 5px;
            color: black;
        }

        a {
            border: map-get($botones-index, btn-borde);
            background-color: map-get($botones-index, btn-fondo);
            color: map-get($botones-index, btn-color);
            padding: map-get($botones-index, btn-padding);
            border-radius: map-get($botones-index, btn-borde);
            font-size: nth($font-zize, 3);
        }
    }
}

.tienda div a:hover {
    background-color: $color-principal;
    border-radius: 10px;
    transition: 0.7s
}

.contenedor-flex {
    padding: 20px;
    @include contenedor(flex, space-around, center, wrap, 100%);

    div {
        p {
            font-family: "Cinzel", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
        }

        a {
            font-family: "Cinzel", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 15px;
            border-radius: 10px;
            padding: 10px;
        }
    }
}

.contenedor-flex div:hover {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
}

/*****************************************************************TARJETAS INDEX********************************************************************/

.tarjeta-1 {
    @extend %ext-tarjetas;
    transition: scale 1.5s;

    img {
        margin-top: 15px;
    }
}

.tarjeta-2 {
    @extend %ext-tarjetas;

    img {
        margin-top: 15px;
    }
}

.tarjeta-3 {
    @extend %ext-tarjetas;

    img {
        margin-top: 15px;
    }
}

.tarjeta-4 {
    @extend %ext-tarjetas;

    img {
        margin-top: 15px;
    }
}

/******************************************************************************GALERIA INDEX*********************************************************************/
.galeria {
    background-color: $color-secundario;
    background: linear-gradient(rgb(220, 235, 245) 25%, rgb(196, 217, 229) 70%, rgb(220, 238, 241) 100%);
    width: 100%;

    h2 {
        background-color: $color-principal;
        text-align: center;
        width: 100%;
        font-family: "Cinzel", serif;
        font-weight: 350;
        font-style: normal;
        font-size: 40px;
        color: white;
        padding: 15px
    }
}

.comunidad-1 {
    @extend %ext-comunidad;
    font-family: "Cinzel", serif;
    font-weight: 600;
    font-style: oblique;

    img {
        width: 45%;
        padding-bottom: 20px;
        margin-top: 20px;
        padding-left: 30px;
        border-radius: 20px;
    }

    h3 {
        font-size: 30px;
        width: 50%;
        font-weight: 800
    }

    p {
        font-size: 14px;
        padding: 60px;
        font-weight: 600;
        font-style: oblique;
    }
}

.comunidad-2 {
    @extend %ext-comunidad;
    font-family: "Cinzel", serif;
    font-weight: 600;
    font-style: oblique;

    img {
        width: 50%;
        padding-bottom: 20px;
        margin-top: 20px;
        padding-right: 20px;
        border-radius: 20px;
    }

    h3 {
        font-size: 25px;
        width: 50%;
        font-weight: 800;
        margin-top: 15px;
    }

    p {
        font-size: 14px;
        padding: 40px;
        font-weight: 600;
    }
}

.encuentro {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

/**************************************************************************PAGINA QUIENES SOMOS********************************************************/
.quienes {
    text-align: center;
    height: 90vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.411)), url("../img/cumpleanos-holistico.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;

    p {
        font-family: "Bad Script", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: nth($font-zize, 5);
        color: whitesmoke;
        text-align: center;
        padding: 80px;

    }
}

/*************************************************************************PAGINA SERVICIOS*************************************************************************/
.TOTAL {
    background-color: $color-secundario;
    background: linear-gradient(rgb(173, 209, 231) 25%, rgb(166, 188, 202) 70%, rgb(170, 203, 209) 100%);
    display: flex;
    flex-wrap: wrap;
    padding: 40px;

    img {
        height: 300px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

}

.servicio-1 {
    @extend %ext-serv;

    img {
        height: 450px
    }
}

.servicio-2 {
    @extend %ext-serv;

    img {
        height: 450px
    }
}

.servicio-3 {
    @extend %ext-serv;

    img {
        height: 450px
    }
}

.servicio-4 {
    @extend %ext-serv;

    img {
        height: 450px
    }
}


/***************************************************************************PAGINA TIENDA**************************************************************************************/
.calesita {
    height: 30vh;

    h1 {
        background-color: $color-principal;
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 600;
        color: white;
        text-align: center;
        font-size: 35px;
        position: relative;
        z-index: 1;
        padding: 15px;
    }

    img {
        width: 100%;
        height: 200px;
    }

    p {
        font-size: nth($font-zize, 4);
        text-align: center;
    }
}

.almacen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 45px;
    row-gap: 25px;
    max-width: 100%;
    padding-bottom: 40px;
    justify-content: center;

    div {
        height: 430px;

        img {
            height: 250px;
            width: 285px;
        }

        p {
            font-family: "Cinzel", serif;
            font-weight: 350;
            font-style: normal;
            font-size: 15px;
            color: black;
        }

        a {
            border: 1.5px solid #4942E4;
            border-radius: 10px;
            background-color: #4942E4;
            color: white;
            padding: 12px;
            margin: 10px;
        }
    }
}

.btna:hover {
    background-color: $color-principal;
    border: 1.5px solid$color-principal;
    transform: 1.1;

}

.card:hover:not(.card-body>img) {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
}

.card {
    overflow: hidden;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

/****************************************************************************************PAGINA FAQ Y CONTACTO***********************************************************************/
.separacion {
    background-color: #7392b7;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 600;
        font-size: nth($font-zize, 7);
        color: white;
    }

}

.formulario {
    background-color: #b3c5d7;
    padding: 10px;

    div {
        label {
            font-size: 35px;
            font-family: "Amatic SC", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
    }

}

.fondo-correo {
    background-color: #d8e1e9;
    padding: 10px;
}

.fondo-consulta {
    background-color: #d8e1e9;
    padding: 10px;
}