/********************* PAGINA INDEX*********************************/
.hero {
    background-color: rgb(167, 145, 188);
    text-align: center;
    height: 90vh;
    width: 100%;
    background-image: url("../img/hero-nuevo-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        
        color: rgb(6, 143, 153);
        display: flex;
        align-items: center;
        font-family: "Architects Daughter", cursive;
        font-weight: 900;
        font-style: normal;
        font-size: nth($font-zize, 11);
    }

    p {
        margin-bottom: 30px;
        color: floralwhite;
        font-family: "Bad Script", cursive;
        font-weight: 700;
        font-style: normal;
        font-size: 55px;
    }

    a {
        border: 1.5px solid blueviolet;
        background-color: #4942E4;
        color: white;
        padding: 5px;
        margin: 15px;
        font-size: nth($font-zize, 5);
        border-radius: 10px;
        font-family: "Cinzel", serif;
        font-weight: 400;
        font-style: normal;
    }
}

a:hover {
    background-color: $color-principal;
    border: $color-principal;
    transform: scale(1.1);
}


.opiniones {
    background-color: #C0D6E8;
    background: rgb(161, 211, 242);
    background: linear-gradient( rgba(161, 211, 242, 1) 25%, rgba(192, 214, 232, 1) 70%, rgba(198, 238, 246, 1) 100%);

    h2 {
        background-color: $color-principal;
        text-align: center;
        font-family: "Cinzel", serif;
        font-weight: 350;
        font-style: normal;
        font-size: 40px;
        color: white;
    }

    div {
        display: inline-block;
        margin: 15px;

        img {
            height: 90px;
            width: 90px;
        }

        p {
            margin-left: 15px;
            font-size: nth($font-zize, 6);
            font-weight: 300;
            color: rgba(0, 0, 0, 0.486);
            font-family: "Bad Script", cursive;
            font-style: normal;
        }
    }
}

.tienda {
    background-color: whitesmoke;
    width: 100%;

    h2 {
        width: 100%;
        font-size: 65px;
        background-color: $color-principal;
        color: white;
        text-align: center;
        margin-left: 0;
        font-family: "Cinzel", serif;
        font-weight: 350;
        font-style: normal;
        font-size: 40px;
    }

    div {
        text-align: center;

        img {
            width: 150px;
            height: 150px;
        }

        p {
            font-size: nth($font-zize, 4);
            margin-bottom: 5px;
            color: black;
        }

        a {
            border: map-get($botones-index, btn-borde);
            background-color: map-get($botones-index, btn-fondo);
            color: map-get($botones-index, btn-color);
            padding: map-get($botones-index, btn-padding);
            border-radius: map-get($botones-index, btn-borde);
            font-size: nth($font-zize, 3);
        }
    }
}

.tienda div a:hover {
    background-color: $color-principal
}

.contenedor-flex {
    @include contenedor(flex, space-around, center, wrap, 100%);
    div{
        p{
            font-family: "Cinzel", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
        }
        a{
            font-family: "Cinzel", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 15px;
        }
    }
}

.contenedor-flex div:hover {
    transform: scale(1.1);
    box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
}

/**************************TARJETAS INDEX**************************/

.tarjeta-1 {
    @extend %ext-tarjetas;

    img {
        margin-top: 15px;
    }

}

.tarjeta-2 {
    @extend %ext-tarjetas;

    img {
        margin-top: 15px;
    }
}

.tarjeta-3 {
    @extend %ext-tarjetas;

    img {
        margin-top: 15px;
    }
}

.tarjeta-4 {
    @extend %ext-tarjetas;

    img {
        margin-top: 15px;
    }
}

/*********************************GALERIA INDEX***************************/
.galeria {
    background-color: $color-secundario;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        background-color: $color-principal;
        text-align: center;
        width: 100%;
        font-family: "Cinzel", serif;
        font-weight: 350;
        font-style: normal;
        font-size: 40px;
        color: white;
    }

    div {
        img {
            height: 500px;
            width: 500px;
            display: flex;
            flex-direction: row;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        p {
            font-size: 60px;
            font-weight: bolder;
            font-family: "Qwitcher Grypen", cursive;
            font-weight: 700;
            font-style: normal;
            color: black;
            margin-left: 25px;
            display: flex;
            flex-direction: row;
            align-items: center;
            
        }
    }
}

.parrafo-1 {
    @extend %flex-index;
        font-size: 70px
}

.parrafo-2 {
    @extend %flex-index;
        font-size: 100px

}

.encuentro-1 {
    img {
        height: 500px;
        width: 500px;
    }
}

.encuentro-2{
    img{
        height: 500px;
        width: 500px;
    }
} 

/******************************PAGINA QUIENES SOMOS*********************/
.quienes {
    text-align: center;
    height: 90vh;
    width: 100%;
    background-image: url("../img/cumpleanos-holistico.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
        font-family: "Bad Script", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: nth($font-zize, 7);
        color: whitesmoke;
        text-align: center;
    }
}

/******************************PAGINA SERVICIOS*************************/
.TOTAL {
    background-color: $color-secundario;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: nth($font-zize, 4);
    width: 100%;

    p {
        text-align: left;
    }
}

.vidaspasadas {
    border: 1px solid grey;
    div {
        margin-left: 50px;

        h2 {
            font-size: nth($font-zize, 4);
        }

        img {
            width: 150px;
            height: 150px;
        }
    }

    div {
        p {
            font-size: nth($font-zize, 3);
            font-family: "Roboto Condensed", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 300;
        }
    }
}

.registros {
    border: 1px solid grey;
    div {
        margin-left: 50px;

        h2 {
            font-size: nth($font-zize, 4);
        }

        img {
            width: 150px;
            height: 150px;
        }
    }

    div {
        p {
            font-size: nth($font-zize, 3);
            font-family: "Roboto Condensed", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 300;
        }
    }
}

.reiki {
    border: 1px solid grey;

    div {
        margin-left: 50px;

        h2 {
            font-size: 20px;
        }

        img {
            width: 150px;
            height: 150px;
        }
    }

    div {
        p {
            font-size: nth($font-zize, 3);
            font-family: "Roboto Condensed", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 300;
        }
    }
}

.biodecodificacion {
    border: 1px  solid grey;
    div {
        margin-left: 50px;

        h2 {
            font-size: nth($font-zize, 4);
        }

        img {
            width: 150px;
            height: 150px;
        }
    }

    div {
        p {
            font-size: nth($font-zize, 3);
            font-family: "Roboto Condensed", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 300;
        }
    }
}

.servicio-1 {
    @extend %ext-flex;
}

.servicio-2 {
    @extend %ext-flex;
}

.servicio-3 {
    @extend %ext-flex;
}

.servicio-4 {
    @extend %ext-flex;
}

.texto {
    p {
        font-size: nth($font-zize, 3);
        color: black;
        font-weight: 450;
        font-family: "EB Garamond", serif;
    }
}

/******************************PAGINA TIENDA****************************/
.calesita {
    height: 30vh;
    h1{
        background-color: $color-principal;
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 600;
        color: white;
        text-align: center;
        font-size: 35px;
        position: relative;
        z-index: 1;
    }

    img {
        width: 100%;
        height: 250px;
    }

    p {
        font-size: nth($font-zize, 4);
        text-align: center;
    }
}

.almacen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 45px;
    row-gap: 25px;
    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 40px;
    justify-content: center;
    padding-top: 50px;

    div {
        height: 430px;

        img {
            height: 250px;
            width: 285px;
        }
        p {
            font-family: "Cinzel", serif;
            font-weight: 500;
            font-style: normal;
            font-size: 15px;
            color: black;
        }    
    }
}

.almacen div:hover:not(.card-body>img) {
    transform: scale(1.1);
    box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
}


.card:hover:not(.card-body>img) {
    transform: scale(1.1);
    box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 18px 13px 15px -7px rgba(0, 0, 0, 0.52);
}

.card {
    overflow: hidden;
    text-align: center;
    margin: auto;
}

/*****************************PAGINA FAQ Y CONTACTO*********************/
.separacion {
    background-color: #7392b7;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 600;
        font-size: nth($font-zize, 7);
        color: white;
    }

}

.formulario {
    background-color: #b3c5d7;
    padding: 10px;

    div {
        label {
            font-size: 35px;
            font-family: "Amatic SC", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
    }

}

.fondo-correo {
    background-color: #d8e1e9;
    padding: 10px;
}

.fondo-consulta {
    background-color: #d8e1e9;
    padding: 10px;
}