
$color-principal: #759eb8;
$color-secundario: #ede3e9;
$color-terciario: #E2DAD6;


%ext-tarjetas {
    border: 2px solid grey;
    border-radius: 10px;
    margin: 10px;
    height: 250px;
    width: 250px;
}
%ext-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
%ext-serv{
    height: 750px;
    transform: none!important;
    box-shadow: none!important;
}

%flex-index {
    display: flex;
    flex-direction: row;
    align-items: center;
}
%ext-comunidad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}


$font-zize: 14px, 15px, 20px, 23px, 25px, 30px, 40px, 50px, 60px, 90px, 75px;


$botones-index: (
    btn-fondo:#4942E4, 
    btn-borde: 2px,
    btn-color:white,
    btn-padding: 4px,
    btn-border-radius: 10px
    );

@mixin contenedor ($display, $justify, $align, $wrap, $width){
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    width: $width; }



